:root {
  --primary: #622969;
  --primary-light: #a744a7bd;
  --primary-dark: #b74ef3;
  --primary-contrast-light: #fff;
  --primary-contrast-dark: #111;
  
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}

/* Tema escuro: sobrescreve as variáveis quando [data-theme="dark"] estiver definido no <html> */
[data-theme="dark"] {
  --primary: #2a0c42;
  --primary-light: #49147a;
  --primary-dark: #4a1f20;
  --primary-contrast-light: #111;
  --primary-contrast-dark: #fff;

  --gray-100: #0f1113;
  --gray-200: #141618;
  --gray-300: #1b1d20;
  --gray-400: #232528;
  --gray-500: #3a3f44;
  --gray-600: #6c757d;
  --gray-700: #9aa0a5;
  --gray-800: #cfd6db;
  --gray-900: #f1f3f5;
}
